<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GameOpensWithMenu</key>
	<true/>
	<key>LivesAtGameStart</key>
	<integer>3</integer>
	<key>Levels</key>
	<array>
		<dict>
			<key>LevelPassedAt</key>
			<integer>2500</integer>
			<key>ScoreObjects</key>
			<array>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{500, 650}</string>
					<key>Speed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{2000, 450}</string>
					<key>Speed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Enemies</key>
			<array>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{2000, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>5</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1500, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns2.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1300, 350}</string>
					<key>EnemySpeed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>0</integer>
					<key>XPaddingOfMultiples</key>
					<integer>1000</integer>
					<key>ZDepth</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{900, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>400</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>PlayerProperties</key>
			<dict>
				<key>SpriteSheetName</key>
				<string>fatbird_sheet</string>
				<key>BaseImage</key>
				<string>fatbird_default.png</string>
				<key>BruisedImage</key>
				<string>fatbird_bruised.png</string>
				<key>PlayerLocation</key>
				<string>{300,500}</string>
				<key>IsAnimated</key>
				<true/>
				<key>AnimationBaseName</key>
				<string>fatbird_flying</string>
				<key>FramesToAnimate</key>
				<integer>20</integer>
				<key>Gravity</key>
				<integer>1</integer>
			</dict>
			<key>ScrollingArt2</key>
			<string>clouds_red.png</string>
			<key>ScrollingArt1</key>
			<string>thorns.png</string>
			<key>BackgroundArt</key>
			<string>sky_green.png</string>
			<key>Music</key>
			<string>level1.mp3</string>
		</dict>
		<dict>
			<key>LevelPassedAt</key>
			<integer>2500</integer>
			<key>ScoreObjects</key>
			<array>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{500, 650}</string>
					<key>Speed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{2000, 450}</string>
					<key>Speed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Enemies</key>
			<array>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{2000, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>5</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1500, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns2.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1300, 350}</string>
					<key>EnemySpeed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>0</integer>
					<key>XPaddingOfMultiples</key>
					<integer>1000</integer>
					<key>ZDepth</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{900, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>400</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>PlayerProperties</key>
			<dict>
				<key>SpriteSheetName</key>
				<string>fatbird_sheet</string>
				<key>BaseImage</key>
				<string>fatbird_default.png</string>
				<key>BruisedImage</key>
				<string>fatbird_bruised.png</string>
				<key>PlayerLocation</key>
				<string>{300,500}</string>
				<key>IsAnimated</key>
				<true/>
				<key>AnimationBaseName</key>
				<string>fatbird_flying</string>
				<key>FramesToAnimate</key>
				<integer>20</integer>
				<key>Gravity</key>
				<integer>1</integer>
			</dict>
			<key>ScrollingArt2</key>
			<string>clouds_red.png</string>
			<key>ScrollingArt1</key>
			<string>thorns.png</string>
			<key>BackgroundArt</key>
			<string>sky_green.png</string>
			<key>Music</key>
			<string>level1.mp3</string>
		</dict>
		<dict>
			<key>LevelPassedAt</key>
			<integer>2500</integer>
			<key>ScoreObjects</key>
			<array>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{500, 650}</string>
					<key>Speed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{2000, 450}</string>
					<key>Speed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Enemies</key>
			<array>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{2000, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>5</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1500, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns2.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1300, 350}</string>
					<key>EnemySpeed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>0</integer>
					<key>XPaddingOfMultiples</key>
					<integer>1000</integer>
					<key>ZDepth</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{900, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>400</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>PlayerProperties</key>
			<dict>
				<key>SpriteSheetName</key>
				<string>fatbird_sheet</string>
				<key>BaseImage</key>
				<string>fatbird_default.png</string>
				<key>BruisedImage</key>
				<string>fatbird_bruised.png</string>
				<key>PlayerLocation</key>
				<string>{300,500}</string>
				<key>IsAnimated</key>
				<true/>
				<key>AnimationBaseName</key>
				<string>fatbird_flying</string>
				<key>FramesToAnimate</key>
				<integer>20</integer>
				<key>Gravity</key>
				<integer>1</integer>
			</dict>
			<key>ScrollingArt2</key>
			<string>clouds_red.png</string>
			<key>ScrollingArt1</key>
			<string>thorns.png</string>
			<key>BackgroundArt</key>
			<string>sky_green.png</string>
			<key>Music</key>
			<string>level1.mp3</string>
		</dict>
		<dict>
			<key>LevelPassedAt</key>
			<integer>2500</integer>
			<key>ScoreObjects</key>
			<array>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{500, 650}</string>
					<key>Speed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{2000, 450}</string>
					<key>Speed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Enemies</key>
			<array>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{2000, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>5</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1500, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns2.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1300, 350}</string>
					<key>EnemySpeed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>0</integer>
					<key>XPaddingOfMultiples</key>
					<integer>1000</integer>
					<key>ZDepth</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{900, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>400</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>PlayerProperties</key>
			<dict>
				<key>SpriteSheetName</key>
				<string>fatbird_sheet</string>
				<key>BaseImage</key>
				<string>fatbird_default.png</string>
				<key>BruisedImage</key>
				<string>fatbird_bruised.png</string>
				<key>PlayerLocation</key>
				<string>{300,500}</string>
				<key>IsAnimated</key>
				<true/>
				<key>AnimationBaseName</key>
				<string>fatbird_flying</string>
				<key>FramesToAnimate</key>
				<integer>20</integer>
				<key>Gravity</key>
				<integer>1</integer>
			</dict>
			<key>ScrollingArt2</key>
			<string>clouds_red.png</string>
			<key>ScrollingArt1</key>
			<string>thorns.png</string>
			<key>BackgroundArt</key>
			<string>sky_green.png</string>
			<key>Music</key>
			<string>level1.mp3</string>
		</dict>
		<dict>
			<key>LevelPassedAt</key>
			<integer>2500</integer>
			<key>ScoreObjects</key>
			<array>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{500, 650}</string>
					<key>Speed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>Points</key>
					<integer>300</integer>
					<key>BaseImage</key>
					<string>feather.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>ObjectLocation</key>
					<string>{2000, 450}</string>
					<key>Speed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>50</integer>
					<key>ZDepth</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>Enemies</key>
			<array>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{2000, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>5</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1500, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>200</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns2.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{1300, 350}</string>
					<key>EnemySpeed</key>
					<integer>2</integer>
					<key>PlaceThisManyMore</key>
					<integer>0</integer>
					<key>XPaddingOfMultiples</key>
					<integer>1000</integer>
					<key>ZDepth</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>BaseImage</key>
					<string>thorns1.png</string>
					<key>FlipY</key>
					<false/>
					<key>FlipX</key>
					<false/>
					<key>EnemyLocation</key>
					<string>{900, 100}</string>
					<key>EnemySpeed</key>
					<integer>3</integer>
					<key>PlaceThisManyMore</key>
					<integer>3</integer>
					<key>XPaddingOfMultiples</key>
					<integer>400</integer>
					<key>ZDepth</key>
					<integer>6</integer>
				</dict>
			</array>
			<key>PlayerProperties</key>
			<dict>
				<key>SpriteSheetName</key>
				<string>fatbird_sheet</string>
				<key>BaseImage</key>
				<string>fatbird_default.png</string>
				<key>BruisedImage</key>
				<string>fatbird_bruised.png</string>
				<key>PlayerLocation</key>
				<string>{300,500}</string>
				<key>IsAnimated</key>
				<true/>
				<key>AnimationBaseName</key>
				<string>fatbird_flying</string>
				<key>FramesToAnimate</key>
				<integer>20</integer>
				<key>Gravity</key>
				<integer>1</integer>
			</dict>
			<key>ScrollingArt2</key>
			<string>clouds_red.png</string>
			<key>ScrollingArt1</key>
			<string>thorns.png</string>
			<key>BackgroundArt</key>
			<string>sky_green.png</string>
			<key>Music</key>
			<string>level1.mp3</string>
		</dict>
	</array>
	<key>HighScores</key>
	<array>
		<string>434546</string>
		<string>235345</string>
		<string>102390</string>
	</array>
</dict>
</plist>
