<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SoundEnabled</key>
	<true/>
	<key>LevelsPerSection</key>
	<integer>3</integer>
	<key>Difficulty</key>
	<string>Easy</string>
	<key>Levels</key>
	<array>
		<dict>
			<key>PlayerSpeed</key>
			<integer>10</integer>
			<key>EnemySpeed</key>
			<integer>5</integer>
			<key>EnemiesToKill</key>
			<integer>150</integer>
			<key>HasGravity</key>
			<true/>
			<key>Gravity</key>
			<integer>70</integer>
			<key>BackgroundArt</key>
			<string>forest.png</string>
			<key>Music</key>
			<string>RealUltimatePowerTheme.mp3</string>
		</dict>
		<dict>
			<key>PlayerSpeed</key>
			<integer>11</integer>
			<key>EnemySpeed</key>
			<integer>7</integer>
			<key>EnemiesToKill</key>
			<integer>200</integer>
			<key>HasGravity</key>
			<true/>
			<key>Gravity</key>
			<integer>56</integer>
			<key>BackgroundArt</key>
			<string>clouds.png</string>
			<key>Music</key>
			<string>FeelMyHeat.mp3</string>
		</dict>
		<dict>
			<key>PlayerSpeed</key>
			<integer>11</integer>
			<key>EnemySpeed</key>
			<integer>7</integer>
			<key>EnemiesToKill</key>
			<integer>200</integer>
			<key>HasGravity</key>
			<true/>
			<key>Gravity</key>
			<integer>56</integer>
			<key>BackgroundArt</key>
			<string>clouds.png</string>
			<key>Music</key>
			<string>FeelMyHeat.mp3</string>
		</dict>
	</array>
	<key>HighScores</key>
	<array>
		<string>434546</string>
		<string>235345</string>
		<string>102390</string>
	</array>
</dict>
</plist>
